<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Verifiable Credential Expert Request API Sample - @ViewData["Title"]</title>
    <meta name="description" content="Verifiable Credentials Expert">
    <meta name="author" content="Microsoft">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">       
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container align-items-center h-100 d-flex justify-content-center">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p class="text-center text-gray tiny-text margin-top-75"><br/>
        </p>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
 